<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
       <title>{% block title %}{{ title|default('BladeXShop') }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
<header>
    <div class="container-header">
        <a class="header-link" href="https://bladex.com">Home</a>
        <a class="header-link-logo" href="/">
            <img style="opacity: 0.75; width: 152px; height: 52px;" src="image1.png" alt="logo">
        </a>
        <a class="header-link" href="https://github.com/nievon/bladex">GitHub</a>
    </div>
</header>
<main>
    {% block content %}{% endblock %}
</main>
</body>
</html>
